.search-list-wrap {
  width: 350px;
  position: fixed;
  right: 0;
  top: $headerHeight;
  z-index: $currentPlaySongsIndex;
  background: #fff;
  transition: transform 0.3s ease;
  transform: translateX(100%);
  box-shadow: 0 2px 7px 0 rgba(29, 29, 33, 0.12);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 10px;
  padding-bottom: $musicPlayerHeight + 50px;
}

.search-list-show {
  transform: translateX(0);
}

.hot-detail-list {
  width: 100%;
  height: auto;
  // padding-left: 20px;
  // padding-top: 10px;

  .detail-title {
    width: 100%;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    color: #707070;
  }

  .detail-item {
    width: 100%;
    height: 50px;
    display: flex;
    margin-top: 8px;
    cursor: pointer;

    .item-num {
      width: 35px;
      height: 50px;
      line-height: 50px;
      font-size: 18px;
      color: #b3b3b3;
      text-align: center;
    }

    .item-red-num {
      color: red;
    }

    .item-info {
      flex: 1;
      height: 50px;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      margin-left: 4px;

      .item-word-row {
        width: 100%;
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        overflow: hidden;

        .item-word {
          width: auto;
          max-width: 160px;
          height: 100%;
          float: left;
          @extend .text-over-hidden;
        }

        .item-hot-icon {
          width: 40px;
          height: 100%;
          background: url('../../../../assets/image/hot.png') no-repeat center;
          background-size: cover;
          float: left;
        }

        .item-score {
          width: auto;
          color: #b3b3b3;
          font-size: 12px;
          float: left;
          margin-left: 8px;
        }
      }

      .item-content {
        width: 100%;
        height: 20px;
        line-height: 20px;
        color: #b3b3b3;
        font-size: 12px;
        @extend .text-over-hidden;
      }
    }
  }
}
