.mv-video-wrap {
  width: 100%;
  height: 350px;
  border: 1px solid;
  border-radius: 10px;
  margin-top: 12px;
  position: relative;

  .video-play-btn {
    width: 70px;
    height: 70px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    margin-top: -35px;
    background: rgba(255, 255, 255, 0.5) url('../../assets/image/play.png')
      center no-repeat;
    background-size: 30px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
  }

  video {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: fill;

    //全屏按钮
    // &::-webkit-media-controls-fullscreen-button {
    // }
    // //播放按钮
    // &::-webkit-media-controls-play-button {
    // }
    // //进度条
    // &::-webkit-media-controls-timeline {
    //   // display: none;
    // }
    // //观看的当前时间
    // &::-webkit-media-controls-current-time-display {
    //   // display: none;
    // }
    // //剩余时间
    // &::-webkit-media-controls-time-remaining-display {
    //   // display: none;
    // }
    // //音量按钮
    // &::-webkit-media-controls-mute-button {
    //   // display: none;
    // }
    // &::-webkit-media-controls-toggle-closed-captions-button {
    //   // display: none;
    // }
    // //音量的控制条
    // &::-webkit-media-controls-volume-slider {
    //   // display: none;
    // }
    //所有控件
    // &::-webkit-media-controls-enclosure {
    //   display: none;
    // }
  }
}
