.music-info-wrap {
  width: 350px;
  height: 100%;
  display: flex;
  padding: 0 12px;

  .music-info-img {
    width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;

    &:hover {
      .music-fold-screen {
        display: inline-block;
      }
    }

    img {
      width: 45px;
      height: 45px;
      cursor: pointer;
    }

    .music-fold-screen {
      position: absolute;
      left: 0;
      right: 0;
      top: 7.5px;
      width: 100%;
      height: 45px;
      background: rgba(0, 0, 0, 0.4)
        url('../../../assets/image/player/music-fold.png') no-repeat center;
      background-size: 24px;
      display: none;
      cursor: pointer;
      border-radius: 5px;
      z-index: 2;
    }
  }

  .music-info-rows {
    flex: 1;
    height: 100%;
    padding: 10px 0;
    margin-left: 12px;

    .music-info {
      width: 100%;
      height: 24px;
      display: flex;
      overflow: hidden;
      cursor: pointer;

      .music-name {
        font-size: 14px;
        max-width: 150px;
        @extend .text-over-hidden;
      }

      .music-author {
        flex: 1;
        font-size: 12px;
        color: #b5b5b5;
        margin-left: 8px;
        @extend .text-over-hidden;

        &:hover {
          color: #333;
        }
      }
    }

    .music-time {
      width: 100%;
      height: 20px;
      line-height: 20px;
      font-size: 12px;
      color: #b5b5b5;
    }
  }
}
