.music-player-wrap {
  width: 100%;
  height: $musicPlayerHeight;
  background: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: $musicPlayerIndex;
  display: flex;
  justify-content: space-between;

  .music-setting-wrap {
    width: 206px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 12px;

    .music-setting-cloud {
      width: 20px;
      height: 20px;
      background: url('../../assets/image/player/whale-cloud.png') no-repeat
        center;
      background-size: 20px;
      cursor: pointer;
    }

    .music-setting-song-list {
      width: 24px;
      height: 20px;
      background: url('../../assets/image/player/song-list.png') no-repeat
        center;
      background-size: 24px;
      cursor: pointer;
    }
  }
}
