.play-count {
  position: absolute;
  right: 8px;
  top: 4px;
  height: 20px;
  line-height: 20px;
  color: #fff;
  font-size: 12px;
  background: url('../../assets/image/play-count.png') no-repeat left center;
  background-size: 10px;
  padding-left: 14px;
}
