@mixin mode-img($modeName) {
  background: url('../../../assets/image/player/mode-#{$modeName}.png')
    no-repeat center;
  background-size: 20px;
}

.music-play-mode {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

@each $modeName in ('cycle', 'sort', 'one', 'random') {
  .mode-img-#{$modeName} {
    @include mode-img($modeName);
  }
}
