.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .word {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #bbb;
    text-align: center;
  }

  .go-discovery {
    width: 100%;
    height: 30px;
    font-size: 12px;
    text-align: center;
    color: #bbb;
    margin-top: 12px;

    span {
      color: #333;
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
