$headerHeight: 50px;
$sideWidth: 200px;
$musicPlayerHeight: 65px;

// theme
$theme-red: #cc3a3b;
$theme-grey: #e9e9e9;

// menu
$theme-menu-active: #707070;

.text-over-hidden {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
