* {
  box-sizing: border-box;
  height: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Arial, sans-serif;
  -webkit-app-region: drag;
}

ul,
ol {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

button {
  outline: none !important;
  -webkit-app-region: no-drag;
}

img {
  border-radius: 5px;
}

input,
textarea {
  width: 100%;
  height: auto;
  border: none;
  resize: none;

  &:focus {
    outline: none;
  }
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: transparent;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #d7d7d7;
}

/*定义最上方和最下方的按钮*/
::-webkit-scrollbar-button {
  background-color: transparent;
  border: 1px solid transparent;
}
