* {
  box-sizing: border-box;
  height: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;

  li {
    text-decoration: none;
  }
}

button {
  outline: none !important;
}

img {
  border-radius: 5px;
}
