.wrap {
  width: 330px;
  // height: 400px;
  height: auto;
  border-radius: 4px;
  background: #fff;
  position: fixed;
  top: $headerHeight + 10px;
  left: $sideWidth - 60px;
  padding: 20px;
  flex-direction: column;
  box-shadow: 0 2px 7px 0 rgba(29, 29, 33, 0.12);
  transition: all 0.5s ease 0.1s;
  z-index: -1;
  opacity: 0;
  display: flex;

  .info-circle {
    width: 100%;
    height: 180px;
    border-bottom: 1px solid #e3e3e3;
    display: flex;
    flex-direction: column;

    .info-circle-row {
      display: flex;
      height: 100px;

      .circle-item {
        flex: 1;
        height: 100%;
        border-right: 1px solid #e3e3e3;
        display: flex;
        flex-direction: column;
        cursor: pointer;

        &:last-child {
          border-right: none;
        }

        .item-num {
          width: 100%;
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 32px;
        }

        .item-word {
          width: 100%;
          height: 30px;
          line-height: 30px;
          font-size: 12px;
          text-align: center;
          color: #707070;
        }
      }
    }

    .circle-signin-row {
      width: 100%;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      .signin-btn {
        width: 100px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        border-radius: 18px;
        border: 1px solid #e3e3e3;
        cursor: pointer;
        background: url('../../assets/image/user-info/icon-signin.png')
          no-repeat left 12px center;
        background-size: 24px;
        padding-left: 10px;
        color: #707070;
        font-size: 14px;
      }
    }
  }

  .info-center {
    width: 100%;
    height: auto;
    padding: 12px 0;
    border-bottom: 1px solid #e3e3e3;
  }

  .info-self {
    width: 100%;
    height: auto;
    padding: 12px 0;
    border-bottom: 1px solid #e3e3e3;
  }

  .login-out {
    width: 100%;
    height: auto;
    padding-top: 12px;
  }
}

.show-user-info {
  z-index: $loginIndex;
  opacity: 1;
}

@mixin user-info-img($iconName) {
  background: url('../../assets/image/user-info/#{$iconName}.png') no-repeat
    center;
  background-size: 18px;
}

.user-info-row {
  width: 100%;
  height: 30px;
  line-height: 30px;
  display: flex;
  cursor: pointer;

  .info-img {
    width: 30px;
    height: 30px;
  }

  @each $iconName
    in (
      'user-logout',
      'user-level',
      'user-mall',
      'user-setting',
      'user-other-account',
      'user-center'
    )
  {
    .img-#{$iconName} {
      @include user-info-img($iconName);
    }
  }

  .info-title {
    flex: 1;
    height: 100%;
    font-size: 13px;
    color: #707070;
  }

  .info-right-arrow {
    width: 30px;
    height: 30px;
    background: url('../../assets/image/right-arrow2.png') no-repeat center;
    background-size: 14px;
  }
}
