.songs-wrap {
  width: 100%;
  height: 480px;
  margin-top: 12px;
  border: 1px solid;

  .recommend-songs {
    width: 100%;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 12px;

    .song-item {
      width: 200px;
      height: 200px;
      margin-right: 2%;

      img {
        width: 100%;
      }
    }
  }
}
