.wrap {
  width: 100%;
  height: auto;

  .latest-mv-title {
    width: 100%;
    height: auto;
    position: relative;
  }
}

.mv-list {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}
