.wrap-table-title {
  width: 100%;
  height: 40px;
  line-height: 40px;
  display: flex;
  font-size: 14px;
  color: #757575;
  border-top: 1px solid #e3e3e3;

  .item-sort {
    width: 100px;
    height: 100%;
    color: #c6c6c6;
    display: flex;
    align-items: center;

    .song-num {
      width: 30px;
      height: 100%;
      padding-left: 8px;
    }

    .playing-song-icon {
      width: 30px;
      height: 100%;
      background: url('../../assets//image/player/sound-active.png') no-repeat
        left center;
      background-size: 18px;
    }

    .pouse-song-icon {
      width: 30px;
      height: 100%;
      background: url('../../assets//image/player/sound-mute.png') no-repeat
        left center;
      background-size: 20px;
    }

    .song-collect {
      width: 32px;
      height: 32px;
      background: url('../../assets/image/player/collect.png') no-repeat center;
      background-size: 16px;
      cursor: pointer;
    }

    .song-download {
      width: 32px;
      height: 32px;
      background: url('../../assets/image/menu/icon-download.png') no-repeat
        center;
      background-size: 20px;
      cursor: pointer;
    }
  }

  .item-title-row {
    flex: 1;
    height: 100%;
    margin-left: 8px;
    display: flex;
    overflow: hidden;

    .item-play {
      width: 12px;
      height: 100%;
      background: url('../../assets/image/play.png') no-repeat center;
      background-size: 12px;
      cursor: pointer;
      margin-right: 4px;
    }

    .item-pouse {
      width: 12px;
      height: 100%;
      background: url('../../assets/image/list-pouse.png') no-repeat top 12px
        center;
      background-size: 12px;
      margin-right: 4px;
      cursor: pointer;
    }

    .item-title {
      flex: 1;
      height: 100%;
      @extend .text-over-hidden;
    }

    .item-title-active {
      @extend .item-title;
      color: $theme-red !important;
    }
  }

  .item-col {
    width: 200px;
    height: 100%;
    @extend .text-over-hidden;
    margin-right: 8px;
  }

  .item-time {
    width: 100px;
    height: 100%;
  }

  .item-size {
    width: 100px;
    height: 100%;
  }
}

.wrap-table-song {
  @extend .wrap-table-title;
  border-top: none;
  margin-top: 0;
  font-size: 13px;

  .item-title {
    color: #333;
  }

  .item-time {
    color: #c6c6c6;
  }

  &:hover {
    background: #f1f1f2;
  }
}

.table-even-row {
  background: #fafafa;
}

.wd100 {
  width: 100px !important;
}
