.wrap {
  width: auto;
  height: 32px;
  line-height: 32px;
  border-radius: 16px;
  border: 1px solid #666;
  color: #666;
  display: flex;
  font-size: 14px;
  padding: 0 20px 0 40px;
  background: url('../../assets/image/collect-songs.png') no-repeat left 14px
    center;
  background-size: 20px;
  cursor: pointer;

  &:hover {
    background: #e6e6e6 url('../../assets/image/collect-songs.png') no-repeat
      left 14px center;
    background-size: 20px;
    color: #333;
  }
}

.disable-btn {
  pointer-events: none;
  color: #b3b3b3;
  border: 1px solid #b3b3b3;
  background: url('../../assets/image/collect-songs-disable.png') no-repeat left
    14px center;
  background-size: 20px;
}
