.wrap {
  width: 22%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin-right: 3%;

  .wrap-img {
    width: 100%;
    height: 100px;

    img {
      width: 100%;
      height: 100px;
    }
  }

  .wrap-words {
    width: 100%;
    height: 40px;
    line-height: 20px;
    margin-top: 8px;
    font-size: 14px;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    &:hover {
      color: #333;
    }
  }
}
